# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.helloWorld.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\sandbox\consoleApp\services\projects\helloWorld\helloWorld\.idea\.idea.helloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
